.vscode/
__pycache__/
.ipynb_checkpoints/
atis_model/

.DS_Store
cached*
ngrok
private_key.json
test.ipynbsendgrid.env
sendgrid.env
permissions.py
doclist.xlsx
~$doclist.xlsx
~$Doctor_database.xlsxcredentials.json
credentials.json
token.json
